openapi: 3.0.3
info:
  title: Airline API
  version: v1.1
servers:
- url: https://airlines-api.hopper.com/airline/v1.1
tags:
- description: |-
    **Hopper Technology Solutions (HTS) Ancillaries for Airlines**

    HTS (Hopper Technology Solutions) is providing airlines with its ancillary services. Airlines can integrate these ancillaries within their booking flow to offer additional benefits to their customers. Not only do these ancillaries generate sizable incremental revenue to the airlines, but they also delight their customers by offering them more flexibility and peace of mind.

    Two services are currently available through the HTS Ancillaries for Airlines API:

    - Cancel For Any Reason™ (CFAR), enabling airlines to offer refundability as an ancillary with HTS powering the dynamic pricing and supporting the refund cost.
    - Disruption Guarantee™ (DG), offering a premium disruption assistance service to customers in case of flight disruption, including rebooking options on any airline or a refund option.
  name: HTS Ancillaries for Airlines
- description: |-
    This API is authenticated with OAuth 2, Client Credentials grant.\
    Clients should use their `client_id` and `client_secret` to obtain an `access_token`.\
    The `access_token` should be included in every request, as a `Bearer` token on an `Authorization` header.\
    Note that `access_token`s eventually expire, requiring a new token to be fetched.

    see [authentication](#tag/Authentication)
  name: Authentication
- description: "Hopper uses a unique ID to correlate API calls and events produced\
    \ by a user's interaction with an airline application.\nThe duration of the user's\
    \ interactions is called a \"session\", and the correlation ID is called a `session_id`.\n\
    \nA session begins immediately before the airline’s first API call to Hopper,\
    \ and the airline must call the Create a Session endpoint at this time. \nA `session_id`\
    \ is returned from this call; it must be included with each subsequent API call\
    \ via the `HC-Session-ID` header. \nNo airline action is required to end the session.\n"
  name: Sessions
- description: |
    **What is Cancel For Any Reason?**

    Cancel For Any Reason (CFAR) enables airlines to offer refundability as an ancillary with HTS powering the dynamic pricing and supporting the refund cost.

    ****

    **How it works**

    There are two distinct flows for CFAR:

    - The _purchase flow_, enabling customers to purchase the product within the airline’s booking flow.
    - The _exercise flow_, enabling customers to cancel their booking and get a refund.

    For each of these flows, the first step is to [Create a Session](#operation/postSessions)

    Both the purchase and the exercise of CFAR should be tracked by the airline in the airline’s Passenger Name Record (PNR) according to the applicable industry standards.

    ****

    **Purchase flow**

    CFAR follows the industry standard of a two step purchase process.

    1. Once the user is landing on the page displaying the CFAR offer, the airline will call the [Create CFAR Offers](#operation/postCfar_offers) endpoint. CFAR Offers can be created at multiple granular levels. The request must include a description of the Itinerary for which the offers are requested. The response will contain

       - the price for the product (`premium`),
       - the refundable amount (`coverage`),
       - the UTC date and time until when the cancellation can be requested (`contract_expiry_date_time`)
       - and the description of the offer in the available languages (`contents`).

    2. If a user is attaching CFAR to his booking, the airline will call the [Create CFAR Contract](#operation/postCfar_contracts) endpoint. The request must include the selected `offer_id`(s) and a description of the Itinerary for which the contract is requested, which must match the one of the Offer(s). At this stage, the CFAR Contract is only _created_. It will be confirmed once the customer has made the payment, which can be done in two ways:

        1. If the airline is the Merchant of Records (MoR), it will capture the payment for the total amount of the booking, including the CFAR fee amount. Upon a successful payment, the airline will call the Update CFAR Contract Status endpoint to set the CFAR contract to _confirmed_. The airline will track this purchase in its PNR following the industry standards that apply to ticketing or ticketless carriers.
        2. If HTS is the Merchant of Records (MoR), the airline will capture the payment for the amount of the booking excluding the CFAR fee, while HTS will capture the payment for the CFAR fee amount. Upon a successful payment of its portion, the airline will call the Process CFAR Payment endpoint for HTS to capture the payment for the CFAR fee amount. Once successful, the CFAR contract will be set to _confirmed_. The airline will track this purchase in its PNR.

    The details of a CFAR contract can be retrieved at any time through the Get a CFAR Contract endpoint.

    ****

    **Exercise flow**

    CFAR exercise follows a two step process.

    1. The user will request the exercise from the “Manage My Bookings” (MMB) page of the airline, through a dedicated Call to action displayed based on the tracker added to the PNR at the time of booking. Once the user is requesting the exercise, the airline will call the [Create CFAR Exercise](#operation/postCfar_contract_exercises) endpoint to authorize the exercise. The request must include the Contract ID, the Itinerary at the time of the exercise request and some optional information on the refund option that may be offered by the airline. If eligible to the exercise, the response will contain the refundable amounts, both in cash and Future Travel Credit (FTC) if applicable.
    2. Once the user has followed the steps of the refund portal and confirmed the cancellation request, HTS will make a call back to the airline to launch the PNR update flow on the airline’s end. The actual PNR update flow depends on each airline’s specifics and is not described here. Upon a successful update of the PNR, the airline will confirm the exercise to HTS by calling the [Complete CFAR Exercise](#operation/putCfar_contract_exercisesIdMark_completed) endpoint.
  name: Cancel For Any Reason (CFAR)
- description: "**What is Disruption Guarantee?**\n\nDisruption Guarantee (DG) offers\
    \ a premium disruption assistance service to customers in case of flight disruption,\
    \ including rebooking options on any airline or a refund option.\n\n****\n\n**How\
    \ it works**\n\nThere are two distinct flows for DG:\n\n- The _purchase flow_,\
    \ enabling customers to purchase the product within the airline’s booking flow.\n\
    - The _exercise flow_, enabling customers to benefit from the premium disruption\
    \ assistance service in case of a flight disruption.\n\nFor the _purchase flow_,\
    \ the first step is to [Create a Session](#operation/postSessions)\n\nBoth the\
    \ purchase and the exercise of DG should be tracked by the airline in the airline’\
    s Passenger Name Record (PNR) according to the applicable industry standards.\n\
    \n****\n\n**Purchase flow**\n\nDG follows the industry standard of a two step\
    \ purchase process.\n\n1. Once the user is landing on the page displaying the\
    \ DG offer, the airline will call the [Create DG Offers](#operation/postDg_offers)\
    \ endpoint. DG Offers can be created at multiple granular levels. The request\
    \ must include a description of the Itinerary for which the offers are requested.\
    \ The response will contain\n\n   - the price for the product (`premium`),\n \
    \  - the refundable amount (`coverage`),\n   - the maximum price per passenger\
    \ for a new flight (`service_cap`),\n   - the delay threshold to trigger the policy\
    \ (`min_minuted_delay`),\n   - the start of the timeframe to trigger the policy\
    \ (`max_hours_before_departure`)\n   - and the description of the offer in the\
    \ user’s language (`contents`).\n\n2. If a user is attaching DG to his booking,\
    \ the airline will call the [Create DG Contract](#operation/postDg_contracts)\
    \ endpoint. The request must include the selected offer\\_id(s) and a description\
    \ of the Itinerary for which the contract is requested, which must match the one\
    \ of the Offer. At this stage, the DG Contract is only _created_. It will be confirmed\
    \ once the customer has made the payment, which can be done in two ways:\n\n \
    \  1. If the airline is the Merchant of Records (MoR), it will capture the payment\
    \ for the total amount of the booking, including the DG fee amount. Upon a successful\
    \ payment, the airline will call the Update DG Contract Status endpoint to set\
    \ the DG contract to _confirmed_. The airline will track this purchase in its\
    \ PNR following the industry standards that apply to ticketing or ticketless carriers.\n\
    \   2. If HTS is the Merchant of Records (MoR), the airline will capture the payment\
    \ for the amount of the booking excluding the DG fee, while HTS will capture the\
    \ payment for the DG fee amount. Upon a successful payment of its portion, the\
    \ airline will call the Process DG Payment endpoint for HTS to capture the payment\
    \ for the DG fee amount. Once successful, the DG contract will be set to _confirmed_.\
    \ The airline will track this purchase in its PNR.\n   \nThe details of a DG contract\
    \ can be retrieved at any time through the [Get a DG Contract](#operation/getDg_contractsId)\
    \ endpoint.\n\n****\n\n**Exercise flow**\n\nIn this version of the API, the DG\
    \ exercise is powered by HTS as a standalone flow, without any endpoint publicly\
    \ exposed.\\\nIn a future version of the API, the DG exercise will be initialized\
    \ from the “Manage My Bookings” (MMB) page of the airline. New endpoints will\
    \ be released to that purpose.\n"
  name: Disruption Guarantee (DG)
- description: "In order to measure and continuously improve HTS Ancillaries performance,\
    \ specific events occurring during a customer session can be sent by the partner\
    \ airlines using some dedicated endpoints."
  name: Analytics
paths:
  /events:
    post:
      description: Events can be send directly from partner backend using the same
        authentication as the other endpoints
      operationId: postEvents
      parameters:
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event'
        required: true
      responses:
        "204":
          description: The event has been successfully created
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Send a Backend Event
      tags:
      - Analytics
  /customer/events:
    post:
      description: Events can also be sent directly from a frontend running on end
        customer's device using the session ID
      operationId: postCustomerEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cfar_event'
        required: true
      responses:
        "201":
          description: The event has been successfully created
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - {}
      - SessionAuth: []
      summary: Send a Frontend Event
      tags:
      - Analytics
  /sessions:
    post:
      description: Create a new session for which events will be collected.
      operationId: postSessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_airline_session_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/airline_session'
          description: The created airline session
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: The airline session creation request was not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create a Session
      tags:
      - Sessions
  /cfar_offers:
    post:
      description: Create CFAR offers for a user's trip
      operationId: postCfar_offers
      parameters:
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_cfar_offer_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/cfar_offer'
                type: array
          description: The created CFAR offers
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            HTS-Session-ID:
              description: "The ID of the current session, see [Sessions](#tag/Sessions)"
              example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create CFAR Offers
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contracts:
    post:
      description: Create a CFAR contract from selected CFAR offer(s).
      operationId: postCfar_contracts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_cfar_contract_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract'
          description: The created CFAR contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: The CFAR contract creation request was successfully validated
            but not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create a CFAR Contract
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contracts/{id}:
    get:
      description: Get a CFAR contract
      operationId: getCfar_contractsId
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract'
          description: The requested CFAR contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        SessionAuth: []
        apiKeyAuth: []
      summary: Get a CFAR Contract
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contracts/{id}/update_status:
    put:
      description: Update the CFAR contract
      operationId: putCfar_contractsIdUpdate_status
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_cfar_contract_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract'
          description: The updated CFAR contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: The CFAR contract status update request was successfully validated
            but not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Update CFAR Contract Status
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contracts/{id}/forms_of_payment:
    put:
      description: Update forms of payment linked with a CFAR contract
      operationId: putCfar_contractsIdForms_of_payment
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_cfar_form_of_payment_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract'
          description: The updated CFAR contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: Forms of payment update request was successfully validated
            but not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Update forms of payment of a CFAR Contract
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contracts/{id}/payment:
    post:
      description: "When HTS is the Merchant of Record (MoR), the customer's credit\
        \ card is charged by HTS for the CFAR fee.\n\nHTS is relying on an external\
        \ payment gateway to process the payments, it allows the partner airline to\
        \ tokenize the customer's credit card details and then pass the generated\
        \ token in HTS Ancillaries for Airlines API payment endpoints in order to\
        \ process the payment and confirm the contract related to the purchased product.\n\
        \n**Token URL**: https://core.spreedly.com/v1/payment_methods.json\n  \n**Example\
        \ Token Request**:  \n  \n```  \ncurl --request POST --url https://core.spreedly.com/v1/payment_methods.json\
        \ --header 'content-type: application/json' -u  \"login:password\" --data\
        \ '{\n\t\"payment_method\": {\n\t\t\"email\": \"aaa@bbb.ccc\",\n\t\t\"credit_card\"\
        : {\n\t\t\t\"number\": \"4111111111111111\",\n\t\t\t\"month\": \"09\",\n\t\
        \t\t\"year\": \"2029\",\n\t\t\t\"first_name\": \"John\",\n\t\t\t\"last_name\"\
        : \"Smith\",\n\t\t\t\"address1\": \"123 12th St\",\n\t\t\t\"address2\": \"\
        Building B\",\n\t\t\t\"city\": \"Quebec City\",\n\t\t\t\"state\": \"QC\",\n\
        \t\t\t\"zip\": \"G1R 4S9\",\n\t\t\t\"country\": \"CA\",\n\t\t\t\"verification_value\"\
        : \"123\"\n\t\t}\n\t}\n}'\n```\n**Example Token Response**:  \n```  \n{\n\t\
        \"transaction\":  {\n\t\t\"token\":  \"KtToV20m9qT1Yi8pbTeLNz0Ypns\",\n\t\t\
        \"created_at\":  \"2023-11-29T13:31:56Z\",\n\t\t\"updated_at\":  \"2023-11-29T13:31:56Z\"\
        ,\n\t\t\"succeeded\":  true,\n\t\t\"transaction_type\":  \"AddPaymentMethod\"\
        ,\n\t\t\"retained\":  false,\n\t\t\"state\":  \"succeeded\",\n\t\t\"message_key\"\
        :  \"messages.transaction_succeeded\",\n\t\t\"message\":  \"Succeeded!\",\n\
        \t\t\"payment_method\":  {\n\t\t\t\"token\":  \"MxyYEhDK12CUAA18bJDkAq0ab3y\"\
        ,\n\t\t\t\"created_at\":  \"2023-11-29T13:31:56Z\",\n\t\t\t\"updated_at\"\
        :  \"2023-11-29T13:31:56Z\",\n\t\t\t\"email\":  \"aaa@bbb.ccc\",\n\t\t\t\"\
        data\":  null,\n\t\t\t\"storage_state\":  \"cached\",\n\t\t\t\"test\":  true,\n\
        \t\t\t\"metadata\":  null,\n\t\t\t\"callback_url\":  null,\n\t\t\t\"last_four_digits\"\
        :  \"1111\",\n\t\t\t\"first_six_digits\":  \"411111\",\n\t\t\t\"card_type\"\
        :  \"visa\",\n\t\t\t\"first_name\":  \"John\",\n\t\t\t\"last_name\":  \"Smith\"\
        ,\n\t\t\t\"month\":  9,\n\t\t\t\"year\":  2029,\n\t\t\t\"address1\":  \"123\
        \ 12th St\",\n\t\t\t\"address2\":  \"Building B\",\n\t\t\t\"city\":  \"Quebec\
        \ City\",\n\t\t\t\"state\":  \"QC\",\n\t\t\t\"zip\":  \"G1R 4S9\",\n\t\t\t\
        \"country\":  \"CA\",\n\t\t\t\"phone_number\":  null,\n\t\t\t\"company\":\
        \  null,\n\t\t\t\"full_name\":  \"John Smith\",\n\t\t\t\"eligible_for_card_updater\"\
        :  true,\n\t\t\t\"shipping_address1\":  null,\n\t\t\t\"shipping_address2\"\
        :  null,\n\t\t\t\"shipping_city\":  null,\n\t\t\t\"shipping_state\":  null,\n\
        \t\t\t\"shipping_zip\":  null,\n\t\t\t\"shipping_country\":  null,\n\t\t\t\
        \"shipping_phone_number\":  null,\n\t\t\t\"issuer_identification_number\"\
        :  \"41111111\",\n\t\t\t\"click_to_pay\":  false,\n\t\t\t\"managed\":  true,\n\
        \t\t\t\"payment_method_type\":  \"credit_card\",\n\t\t\t\"errors\":  [],\n\
        \t\t\t\"bin_metadata\":  {\n\t\t\t\t\"message\":  \"BIN Metadata is available\
        \ only to Advanced Vault enrolled customers and payment methods. Reach out\
        \ to your account representative for more details.\"\n\t\t\t},\n\t\t\t\"fingerprint\"\
        :  \"7ccffcf38900f224fc946cf2a9c8e260072b\",\n\t\t\t\"verification_value\"\
        :  \"XXX\",\n\t\t\t\"number\":  \"XXXX-XXXX-XXXX-1111\"\n\t\t}\n\t}\n}\n```\n\
        Here the returned payment method token **MxyYEhDK12CUAA18bJDkAq0ab3y** has\
        \ to be used in the Process CFAR Payment request below."
      operationId: postCfar_contractsIdPayment
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process_cfar_payment_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_payment'
          description: The result of the transaction
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Process CFAR Payment
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contract_exercises:
    post:
      description: Record that a request to exercise a CFAR contract has occurred.
      operationId: postCfar_contract_exercises
      parameters:
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_cfar_contract_exercise_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract_exercise'
          description: The created CFAR contract exercise
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create CFAR Exercise
      tags:
      - Cancel For Any Reason (CFAR)
  /cfar_contract_exercises/{id}/mark_completed:
    put:
      description: Record that a request to exercise a CFAR contract has been completed
      operationId: putCfar_contract_exercisesIdMark_completed
      parameters:
      - description: A unique identifier for a exercise
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mark_cfar_contract_exercise_complete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cfar_contract_exercise'
          description: The updated CFAR contract exercise
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Complete CFAR Exercise
      tags:
      - Cancel For Any Reason (CFAR)
  /dg_offers:
    post:
      description: Create DG offers for a user's trip
      operationId: postDg_offers
      parameters:
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_dg_offers_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/create_dg_offer_item_response'
                type: array
          description: The created DG offers
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            HTS-Session-ID:
              description: "The ID of the current session, see [Sessions](#tag/Sessions)"
              example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create DG Offers
      tags:
      - Disruption Guarantee (DG)
  /dg_contracts:
    post:
      description: Create a DG contract from selected DG offer(s).
      operationId: postDg_contracts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_dg_contract_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_contract'
          description: The created DG contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: The DG contract creation request was successfully validated
            but not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create a DG Contract
      tags:
      - Disruption Guarantee (DG)
  /dg_contracts/{id}:
    get:
      description: Get a DG contract
      operationId: getDg_contractsId
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_contract'
          description: The requested DG contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        SessionAuth: []
        apiKeyAuth: []
      summary: Get a DG contract
      tags:
      - Disruption Guarantee (DG)
  /dg_contracts/{id}/payment:
    post:
      description: "When HTS is the Merchant of Record (MoR), the customer's credit\
        \ card is charged by HTS for the DG fee.\n\nHTS is relying on an external\
        \ payment gateway to process the payments, it allows the partner airline to\
        \ tokenize the customer's credit card details and then pass the generated\
        \ token in HTS Ancillaries for Airlines API payment endpoints in order to\
        \ process the payment and confirm the contract related to the purchased product.\n\
        \n**Token URL**: https://core.spreedly.com/v1/payment_methods.json\n  \n**Example\
        \ Token Request**:  \n  \n```  \ncurl --request POST --url https://core.spreedly.com/v1/payment_methods.json\
        \ --header 'content-type: application/json' -u  \"login:password\" --data\
        \ '{\n\t\"payment_method\": {\n\t\t\"email\": \"aaa@bbb.ccc\",\n\t\t\"credit_card\"\
        : {\n\t\t\t\"number\": \"4111111111111111\",\n\t\t\t\"month\": \"09\",\n\t\
        \t\t\"year\": \"2029\",\n\t\t\t\"first_name\": \"John\",\n\t\t\t\"last_name\"\
        : \"Smith\",\n\t\t\t\"address1\": \"123 12th St\",\n\t\t\t\"address2\": \"\
        Building B\",\n\t\t\t\"city\": \"Quebec City\",\n\t\t\t\"state\": \"QC\",\n\
        \t\t\t\"zip\": \"G1R 4S9\",\n\t\t\t\"country\": \"CA\",\n\t\t\t\"verification_value\"\
        : \"123\"\n\t\t}\n\t}\n}'\n```\n**Example Token Response**:  \n```  \n{\n\t\
        \"transaction\":  {\n\t\t\"token\":  \"KtToV20m9qT1Yi8pbTeLNz0Ypns\",\n\t\t\
        \"created_at\":  \"2023-11-29T13:31:56Z\",\n\t\t\"updated_at\":  \"2023-11-29T13:31:56Z\"\
        ,\n\t\t\"succeeded\":  true,\n\t\t\"transaction_type\":  \"AddPaymentMethod\"\
        ,\n\t\t\"retained\":  false,\n\t\t\"state\":  \"succeeded\",\n\t\t\"message_key\"\
        :  \"messages.transaction_succeeded\",\n\t\t\"message\":  \"Succeeded!\",\n\
        \t\t\"payment_method\":  {\n\t\t\t\"token\":  \"MxyYEhDK12CUAA18bJDkAq0ab3y\"\
        ,\n\t\t\t\"created_at\":  \"2023-11-29T13:31:56Z\",\n\t\t\t\"updated_at\"\
        :  \"2023-11-29T13:31:56Z\",\n\t\t\t\"email\":  \"aaa@bbb.ccc\",\n\t\t\t\"\
        data\":  null,\n\t\t\t\"storage_state\":  \"cached\",\n\t\t\t\"test\":  true,\n\
        \t\t\t\"metadata\":  null,\n\t\t\t\"callback_url\":  null,\n\t\t\t\"last_four_digits\"\
        :  \"1111\",\n\t\t\t\"first_six_digits\":  \"411111\",\n\t\t\t\"card_type\"\
        :  \"visa\",\n\t\t\t\"first_name\":  \"John\",\n\t\t\t\"last_name\":  \"Smith\"\
        ,\n\t\t\t\"month\":  9,\n\t\t\t\"year\":  2029,\n\t\t\t\"address1\":  \"123\
        \ 12th St\",\n\t\t\t\"address2\":  \"Building B\",\n\t\t\t\"city\":  \"Quebec\
        \ City\",\n\t\t\t\"state\":  \"QC\",\n\t\t\t\"zip\":  \"G1R 4S9\",\n\t\t\t\
        \"country\":  \"CA\",\n\t\t\t\"phone_number\":  null,\n\t\t\t\"company\":\
        \  null,\n\t\t\t\"full_name\":  \"John Smith\",\n\t\t\t\"eligible_for_card_updater\"\
        :  true,\n\t\t\t\"shipping_address1\":  null,\n\t\t\t\"shipping_address2\"\
        :  null,\n\t\t\t\"shipping_city\":  null,\n\t\t\t\"shipping_state\":  null,\n\
        \t\t\t\"shipping_zip\":  null,\n\t\t\t\"shipping_country\":  null,\n\t\t\t\
        \"shipping_phone_number\":  null,\n\t\t\t\"issuer_identification_number\"\
        :  \"41111111\",\n\t\t\t\"click_to_pay\":  false,\n\t\t\t\"managed\":  true,\n\
        \t\t\t\"payment_method_type\":  \"credit_card\",\n\t\t\t\"errors\":  [],\n\
        \t\t\t\"bin_metadata\":  {\n\t\t\t\t\"message\":  \"BIN Metadata is available\
        \ only to Advanced Vault enrolled customers and payment methods. Reach out\
        \ to your account representative for more details.\"\n\t\t\t},\n\t\t\t\"fingerprint\"\
        :  \"7ccffcf38900f224fc946cf2a9c8e260072b\",\n\t\t\t\"verification_value\"\
        :  \"XXX\",\n\t\t\t\"number\":  \"XXXX-XXXX-XXXX-1111\"\n\t\t}\n\t}\n}\n```\n\
        Here the returned payment method token **MxyYEhDK12CUAA18bJDkAq0ab3y** has\
        \ to be used in the Process DG Payment request below."
      operationId: postDg_contractsIdPayment
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process_dg_payment_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_payment'
          description: The contract has been paid
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        SessionAuth: []
        apiKeyAuth: []
      summary: Process DG payment
      tags:
      - Disruption Guarantee (DG)
  /dg_contracts/{id}/update_status:
    put:
      description: Update DG Contract Status
      operationId: putDg_contractsIdUpdate_status
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_dg_contract_status_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_contract'
          description: The Updated DG contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "204":
          description: The DG contract status update request was successfully validated
            but not performed
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Update DG Contract Status
      tags:
      - Disruption Guarantee (DG)
  /dg_contracts/{id}/itinerary_slices:
    put:
      description: Update a DG Contract's itinerary slices.
      operationId: putDg_contractsIdItinerary_slices
      parameters:
      - description: A unique identifier for a contract
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/dg_itinerary_slice'
              minItems: 1
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_contract'
          description: The updated DG contract
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        SessionAuth: []
        apiKeyAuth: []
      summary: Update DG Contract Itinerary Slices
      tags:
      - Disruption Guarantee (DG)
  /dg_contract_exercises:
    post:
      description: Record that a request to exercise a DG contract has occurred.
      operationId: postDg_contract_exercises
      parameters:
      - description: "The ID of the current airline session, see [Sessions](#tag/Sessions)"
        example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
        explode: false
        in: header
        name: HC-Session-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_dg_contract_exercise_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_dg_contract_exercise_response'
          description: The created DG contract exercise
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            HTS-Session-ID:
              description: "The ID of the current session, see [Sessions](#tag/Sessions)"
              example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - PartnerAuth: []
        apiKeyAuth: []
      summary: Create DG Exercise
      tags:
      - Disruption Guarantee (DG)
  /customer/dg/events:
    post:
      description: Create a new event for analytics
      operationId: postCustomerDgEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dg_event'
        required: true
      responses:
        "201":
          description: The event has been successfully created
          headers:
            Expires:
              explode: false
              required: true
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
        "500":
          description: The server encountered an internal error
      security:
      - {}
      - SessionAuth: []
      summary: Create an Event
      tags:
      - Disruption Guarantee (DG)
  /customer/dg_contract_exercises:
    post:
      description: Record that a request to exercise a DG contract has occurred.
      operationId: postCustomerDg_contract_exercises
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dg_customer_create_contract_exercise_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dg_customer_create_contract_exercise_response'
          description: The created DG contract exercise
          headers:
            HTS-Session-ID:
              description: "The ID of the current session, see [Sessions](#tag/Sessions)"
              example: 9fd3f2f9-e5aa-4128-ace9-3c4ee37b685f
              explode: false
              required: true
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "404":
          description: The requested resource could not be found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
      summary: Create DG Exercise
      tags:
      - Disruption Guarantee (DG)
  /auth:
    post:
      description: Get an authentication token
      operationId: postAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_response'
          description: The authentication response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
          description: Syntactic errors were encountered while handling the request
        "401":
          description: The client could not be authenticated
        "403":
          description: The authenticated client does not have permission to call this
            endpoint
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unprocessable_entity'
          description: Semantic errors were encountered while handling the request
      summary: Create an authentication token
      tags:
      - Authentication
components:
  schemas:
    airline_refund_method:
      enum:
      - ftc
      - cash
      title: airline_refund_method
      type: string
    airline_session:
      description: A airline session resource
      example:
        id: af585dfd-dddf-4726-9ef7-f1bb8909a79a
      properties:
        id:
          description: A unique identifier for a airline session
          example: af585dfd-dddf-4726-9ef7-f1bb8909a79a
          type: string
      required:
      - id
      title: airline_session
      type: object
    ancillary:
      example:
        passenger_reference: "1"
        total_price: "20.55"
        covered: true
        type: travel_insurance
      properties:
        total_price:
          description: Total price of ancillaries of this type
          example: "20.55"
          minimum: 0
          type: string
        passenger_reference:
          description: Unique reference of the passenger associated to this ancillary
          example: "1"
          type: string
        type:
          $ref: '#/components/schemas/ancillary_type'
        covered:
          description: Is this ancillary covered by the product. By default true if
            not specified
          type: boolean
      required:
      - total_price
      - type
      title: ancillary
      type: object
    ancillary_type:
      description: The type of ancillary
      enum:
      - travel_insurance
      - bag_insurance
      - cabin_bag
      - checked_bag
      - seat
      - lounge
      - meal
      - fast_track
      - pet
      - change
      - bundle
      - payment_fee
      - other
      example: travel_insurance
      title: ancillary_type
      type: string
    android:
      properties:
        version:
          example: 15.0.2
          type: string
        type:
          example: i_os
          type: string
      required:
      - type
      title: android
      type: object
    app:
      properties:
        operating_system:
          $ref: '#/components/schemas/operating_system'
        type:
          example: app
          type: string
      required:
      - type
      title: app
      type: object
    auth_request:
      properties:
        client_id:
          type: string
        client_secret:
          type: string
      required:
      - client_id
      - client_secret
      title: auth_request
      type: object
    auth_response:
      example:
        access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtjN2FjWmV4bHBvZk1QY3V6UF9HTyJ9.eyJpc3MiOiJodHRwczovL2hvcHBlci1hcGkuYXV0aDAuY29tLyIsInN1YiI6IlhVdWpRSlRCODFPdkVTODh1VDlPNHhIUzVNUkpZV2tCQGNsaWVudHMiLCJhdWQiOiJodHRwczovL3N0YWdpbmcuYXBpLmhvcHBlci5jb20iLCJpYXQiOjE2NTI5ODQ2ODEsImV4cCI6MTY1MzA3MTA4MSwiYXpwIjoiWFV1alFKVEI4MU92RVM4OHVUOU80eEhTNU1SSllXa0IiLCJzY29wZSI6ImFsbDpwcmljZWZyZWV6ZSBhbGw6Z2VuZXJhbCBhbGw6Y2ZhciIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.VlKuMHJkGpOA-L9oJn-UBEOD7VdzLXQSn2DiTrlROR521uHupkRnI-_tDjYD-sygmNmI0bIb0UEQ2ETOyalFZICge8-qWpxBccM_rfgPemZ6Rs9fZSY8XjZtaM9sQEJ4OqwXQiIU0tQDVMfegj-4wnKglHAKzJ7X7wb05nSCP_g2cXIXL9mapnLT8vf609CZIz2cRuWvww5E9qlJ6mUQxsYBv9xwJoyF3IK8TCWUFFvu2xSendMltvUlCHJHjWpddFDTdkl1ErHq_ta-3e1n2ZjU1HVVux9dwWoZQDYJFprtDYjPS-jVhEljGMASB74zf_xbcWCwoa_HJlxLlhBhoQ
        scope: all:general all:cfar
        token_type: Bearer
        expires_in: 86400
      properties:
        access_token:
          description: The authentication token
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImtjN2FjWmV4bHBvZk1QY3V6UF9HTyJ9.eyJpc3MiOiJodHRwczovL2hvcHBlci1hcGkuYXV0aDAuY29tLyIsInN1YiI6IlhVdWpRSlRCODFPdkVTODh1VDlPNHhIUzVNUkpZV2tCQGNsaWVudHMiLCJhdWQiOiJodHRwczovL3N0YWdpbmcuYXBpLmhvcHBlci5jb20iLCJpYXQiOjE2NTI5ODQ2ODEsImV4cCI6MTY1MzA3MTA4MSwiYXpwIjoiWFV1alFKVEI4MU92RVM4OHVUOU80eEhTNU1SSllXa0IiLCJzY29wZSI6ImFsbDpwcmljZWZyZWV6ZSBhbGw6Z2VuZXJhbCBhbGw6Y2ZhciIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.VlKuMHJkGpOA-L9oJn-UBEOD7VdzLXQSn2DiTrlROR521uHupkRnI-_tDjYD-sygmNmI0bIb0UEQ2ETOyalFZICge8-qWpxBccM_rfgPemZ6Rs9fZSY8XjZtaM9sQEJ4OqwXQiIU0tQDVMfegj-4wnKglHAKzJ7X7wb05nSCP_g2cXIXL9mapnLT8vf609CZIz2cRuWvww5E9qlJ6mUQxsYBv9xwJoyF3IK8TCWUFFvu2xSendMltvUlCHJHjWpddFDTdkl1ErHq_ta-3e1n2ZjU1HVVux9dwWoZQDYJFprtDYjPS-jVhEljGMASB74zf_xbcWCwoa_HJlxLlhBhoQ
          type: string
        scope:
          description: Token's scope
          example: all:general all:cfar
          type: string
        expires_in:
          description: Token's expiration (in seconds)
          example: 86400
          format: int32
          type: integer
        token_type:
          $ref: '#/components/schemas/token_type'
      required:
      - access_token
      - expires_in
      - scope
      - token_type
      title: auth_response
      type: object
    bad_request:
      example:
        errors:
        - code: code
          messages:
            key: messages
          message: message
        - code: code
          messages:
            key: messages
          message: message
      properties:
        errors:
          items:
            $ref: '#/components/schemas/error'
          type: array
      required:
      - errors
      title: bad_request
      type: object
    booking_confirmed:
      properties:
        occurred_date_time:
          description: |-
            A UTC [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14) datetime;
             the date and time at which an event occurred on a client device
          example: 2022-01-24T15:34:30Z
          format: date-time
          type: string
        type:
          type: string
      required:
      - occurred_date_time
      - type
      title: booking_confirmed
      type: object
    booking_confirmed1:
      properties:
        occurred_date_time:
          description: |-
            A UTC [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14) datetime;
             the date and time at which an event occurred on a client device
          example: 2022-01-24T15:34:30Z
          format: date-time
          type: string
        type:
          type: string
      required:
      - occurred_date_time
      - type
      title: booking_confirmed
      type: object
    booking_confirmed2:
      properties:
        occurred_date_time:
          description: |-
            A UTC [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14) datetime;
             the date and time at which an event occurred on a client device
          example: 2022-01-24T15:34:30Z
          format: date-time
          type: string
        type:
          type: string
      required:
      - occurred_date_time
      - type
      title: booking_confirmed
      type: object
    browser:
      discriminator:
        mapping:
          chrome: '#/components/schemas/chrome'
          edge: '#/components/schemas/edge'
          firefox: '#/components/schemas/firefox'
          internet_explorer: '#/components/schemas/internet_explorer'
          opera: '#/components/schemas/opera'
          other_browser: '#/components/schemas/other_browser'
          safari: '#/components/schemas/safari'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/chrome'
      - $ref: '#/components/schemas/edge'
      - $ref: '#/components/schemas/firefox'
      - $ref: '#/components/schemas/internet_explorer'
      - $ref: '#/components/schemas/opera'
      - $ref: '#/components/schemas/other_browser'
      - $ref: '#/components/schemas/safari'
      title: browser
    cabin:
      description: Service class of the segment
      enum:
      - economy
      - premium_economy
      - business
      - first
      title: cabin
      type: string
    cash:
      properties:
        amount:
          description: Amount charged on the form of payment
          minimum: 0
          type: string
        currency:
          description: Currency of the form of payment
          example: CAD
          type: string
        type:
          type: string
      required:
      - amount
      - currency
      - type
      title: cash
      type: object
    cfar_contents:
      example:
        bullet_points:
        - bullet_points
        - bullet_points
        labels:
          key: labels
      properties:
        bullet_points:
          description: An array containing the bullet points to be displayed
          items:
            type: string
          type: array
        labels:
          additionalProperties:
            type: string
          title: map_string
          type: object
      required:
      - bullet_points
      - labels
      title: cfar_contents
      type: object
    cfar_contract:
      description: A CFAR contract
      example:
        offers:
        - coverage: "400.00"
          taxes_total: "3.90"
          ext_attributes:
            key: ext_attributes
          request_type: post_booking
          coverage_percentage: "80.00"
          taxes:
          - amount: "20.00"
            rate: "12.00"
            registration_number: 0123456ABCDEF
            name: VAT
            estimated: false
          - amount: "20.00"
            rate: "12.00"
            registration_number: 0123456ABCDEF
            name: VAT
            estimated: false
          itinerary:
            fare_rules:
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            slices:
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              total_price: "401.10"
              other_fares:
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              fare_brand: flex
              fare_basis: YBA123US
              segments:
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              passenger_pricing:
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              total_price: "401.10"
              other_fares:
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              fare_brand: flex
              fare_basis: YBA123US
              segments:
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              passenger_pricing:
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
            ancillaries:
            - passenger_reference: "1"
              total_price: "20.55"
              covered: true
              type: travel_insurance
            - passenger_reference: "1"
              total_price: "20.55"
              covered: true
              type: travel_insurance
            passengers:
            - passenger_reference: "1"
              last_name: Smith
              first_name: John
              passenger_type: null
            - passenger_reference: "1"
              last_name: Smith
              first_name: John
              passenger_type: null
            total_price: "401.10"
            taxes:
            - amount: "0.20"
              code: RC
              currency: CAD
            - amount: "0.20"
              code: RC
              currency: CAD
            currency: CAD
            passenger_pricing:
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
          created_date_time: 2020-11-02T18:34:30Z
          coverage_extension: "40.00"
          terms_conditions_url: terms_conditions_url
          premium: "40.80"
          contents:
            key:
              bullet_points:
              - bullet_points
              - bullet_points
              labels:
                key: labels
          contract_expiry_date_time: 2020-12-20T12:15:48Z
          currency: CAD
          id: 1ec9eed3-4486-6460-9d6c-2fb8469d35db
        - coverage: "400.00"
          taxes_total: "3.90"
          ext_attributes:
            key: ext_attributes
          request_type: post_booking
          coverage_percentage: "80.00"
          taxes:
          - amount: "20.00"
            rate: "12.00"
            registration_number: 0123456ABCDEF
            name: VAT
            estimated: false
          - amount: "20.00"
            rate: "12.00"
            registration_number: 0123456ABCDEF
            name: VAT
            estimated: false
          itinerary:
            fare_rules:
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            slices:
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              total_price: "401.10"
              other_fares:
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              fare_brand: flex
              fare_basis: YBA123US
              segments:
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              passenger_pricing:
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              total_price: "401.10"
              other_fares:
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              - fare_rules:
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                - modification_type: cancellation
                  allowed: true
                  fee: fee
                  percentage: percentage
                  refund_method: ftc
                  modification_time: after_departure
                fare_brand: flex
                price: "401.10"
                fare_basis: YBA123US
              fare_brand: flex
              fare_basis: YBA123US
              segments:
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              - validating_carrier_code: B6
                arrival_date_time: 2022-04-02T19:12:30
                fare_brand: fare_brand
                flight_number: JB776
                departure_date_time: 2022-04-02T18:34:30
                fare_class: basic_economy
                origin_airport: BOS
                destination_airport: LGA
              passenger_pricing:
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
              - individual_price: "200.55"
                passenger_count:
                  count: 3
                  type: adult
                taxes:
                - amount: "0.20"
                  code: RC
                  currency: CAD
                - amount: "0.20"
                  code: RC
                  currency: CAD
            ancillaries:
            - passenger_reference: "1"
              total_price: "20.55"
              covered: true
              type: travel_insurance
            - passenger_reference: "1"
              total_price: "20.55"
              covered: true
              type: travel_insurance
            passengers:
            - passenger_reference: "1"
              last_name: Smith
              first_name: John
              passenger_type: null
            - passenger_reference: "1"
              last_name: Smith
              first_name: John
              passenger_type: null
            total_price: "401.10"
            taxes:
            - amount: "0.20"
              code: RC
              currency: CAD
            - amount: "0.20"
              code: RC
              currency: CAD
            currency: CAD
            passenger_pricing:
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
          created_date_time: 2020-11-02T18:34:30Z
          coverage_extension: "40.00"
          terms_conditions_url: terms_conditions_url
          premium: "40.80"
          contents:
            key:
              bullet_points:
              - bullet_points
              - bullet_points
              labels:
                key: labels
          contract_expiry_date_time: 2020-12-20T12:15:48Z
          currency: CAD
          id: 1ec9eed3-4486-6460-9d6c-2fb8469d35db
        coverage: "98.64"
        taxes_total: "3.90"
        ext_attributes:
          key: ext_attributes
        coverage_percentage: "80.00"
        taxes:
        - amount: "20.00"
          rate: "12.00"
          registration_number: 0123456ABCDEF
          name: VAT
          estimated: false
        - amount: "20.00"
          rate: "12.00"
          registration_number: 0123456ABCDEF
          name: VAT
          estimated: false
        itinerary:
          fare_rules:
          - modification_type: cancellation
            allowed: true
            fee: fee
            percentage: percentage
            refund_method: ftc
            modification_time: after_departure
          - modification_type: cancellation
            allowed: true
            fee: fee
            percentage: percentage
            refund_method: ftc
            modification_time: after_departure
          slices:
          - fare_rules:
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            total_price: "401.10"
            other_fares:
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              fare_brand: flex
              price: "401.10"
              fare_basis: YBA123US
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              fare_brand: flex
              price: "401.10"
              fare_basis: YBA123US
            fare_brand: flex
            fare_basis: YBA123US
            segments:
            - validating_carrier_code: B6
              arrival_date_time: 2022-04-02T19:12:30
              fare_brand: fare_brand
              flight_number: JB776
              departure_date_time: 2022-04-02T18:34:30
              fare_class: basic_economy
              origin_airport: BOS
              destination_airport: LGA
            - validating_carrier_code: B6
              arrival_date_time: 2022-04-02T19:12:30
              fare_brand: fare_brand
              flight_number: JB776
              departure_date_time: 2022-04-02T18:34:30
              fare_class: basic_economy
              origin_airport: BOS
              destination_airport: LGA
            passenger_pricing:
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
          - fare_rules:
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            - modification_type: cancellation
              allowed: true
              fee: fee
              percentage: percentage
              refund_method: ftc
              modification_time: after_departure
            total_price: "401.10"
            other_fares:
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              fare_brand: flex
              price: "401.10"
              fare_basis: YBA123US
            - fare_rules:
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              - modification_type: cancellation
                allowed: true
                fee: fee
                percentage: percentage
                refund_method: ftc
                modification_time: after_departure
              fare_brand: flex
              price: "401.10"
              fare_basis: YBA123US
            fare_brand: flex
            fare_basis: YBA123US
            segments:
            - validating_carrier_code: B6
              arrival_date_time: 2022-04-02T19:12:30
              fare_brand: fare_brand
              flight_number: JB776
              departure_date_time: 2022-04-02T18:34:30
              fare_class: basic_economy
              origin_airport: BOS
              destination_airport: LGA
            - validating_carrier_code: B6
              arrival_date_time: 2022-04-02T19:12:30
              fare_brand: fare_brand
              flight_number: JB776
              departure_date_time: 2022-04-02T18:34:30
              fare_class: basic_economy
              origin_airport: BOS
              destination_airport: LGA
            passenger_pricing:
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
            - individual_price: "200.55"
              passenger_count:
                count: 3
                type: adult
              taxes:
              - amount: "0.20"
                code: RC
                currency: CAD
              - amount: "0.20"
                code: RC
                currency: CAD
          ancillaries:
          - passenger_reference: "1"
            total_price: "20.55"
            covered: true
            type: travel_insurance
          - passenger_reference: "1"
            total_price: "20.55"
            covered: true
            type: travel_insurance
          passengers:
          - passenger_reference: "1"
            last_name: Smith
            first_name: John
            passenger_type: null
          - passenger_reference: "1"
            last_name: Smith
            first_name: John
            passenger_type: null
          total_price: "401.10"
          taxes:
          - amount: "0.20"
            code: RC
            currency: CAD
          - amount: "0.20"
            code: RC
            currency: CAD
          currency: CAD
          passenger_pricing:
          - individual_price: "200.55"
            passenger_count:
              count: 3
              type: adult
            taxes:
            - amount: "0.20"
              code: RC
              currency: CAD
            - amount: "0.20"
[...]
